@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-top: 30px;
    margin: 0 auto;
}

.menu {
    display: flex;
}

.menu li a {
    color: #666;
}

.menu > li {
    display: flex;
    align-items: center;
    position: relative;
    padding: 25px;
    column-gap: 16px;
    border: 1px solid #dad5d5;
    color: #5f5e5e;
}

/* .menu > li::after {
    content: "";
    width: 100%;
    position: absolute;
    display: inline-block;
    cursor: pointer;
} */

.menu > li:hover > a,
.menu > li:hover:not(.blank) {
    background-color: #2da5da;
    color: #fff;
}

.menu-item li {
    padding: 16px 32px;
    color: #5f5e5e;
    border-bottom: 1px solid #cbc9c9;
}

.menu-item {
    position: absolute;
    bottom: -168px;
    left: 0;
    min-width: 250px;
    box-shadow: 0px 0px 8px 1px rgb(154, 153, 154);
}

.menu-item {
    display: none;
}

.blank {
    flex-grow: 1;
}

.menu-item li:hover a,
.menu-item li:hover {
    color: #fff;
    background-color: #2da5da;
}

.menu-elements:hover .menu-item {
    display: block;
}




