*{
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
}
.overall{
    width: 80%;
    margin: auto;
    padding: 100px 0;
    text-align: center;
}
.size{
    margin:auto;
    width: 120px;
    background-color: #7b9ae9;
    padding: 8px 12px;
    color: #fff;
}
.title{
    font-size: 32px;
    margin: 6px auto;
}
.title span{
    color: #42a2e2
}
.button-features{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    background: #2c3033;
    border-radius: 8px;
    margin: 0 8px;
}